.env

meditrack_local.db
meditrack_local.db-wal
meditrack_local.db-shm

venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

app/static/uploads/qr_codes/*
app/static/uploads/reports/*
!app/static/uploads/qr_codes/.gitkeep
!app/static/uploads/reports/.gitkeep

.DS_Store
.vscode/
*.swp

node_modules/
